
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Admin</h4>
<div class="container-fluid row">
    <div class="border col-2">
        Home
    </div>
    <div class="border col">
       aaaa
    </div>
</div>


