@model List<Hello_Travellers.Models.Post>
<style>
    .title {
        margin-bottom: 50px;
        text-transform: uppercase;
    }

    .card-block {
        font-size: 1em;
        position: relative;
        margin: 0;
        padding: 1em;
        border: none;
        border-top: 1px solid rgba(34, 36, 38, .1);
        box-shadow: none;
    }

    .card {
        font-size: 1em;
        overflow: hidden;
        padding: 5;
        border: none;
        border-radius: .28571429rem;
        box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
        margin-top: 20px;
    }

    .carousel-indicators li {
        border-radius: 12px;
        width: 12px;
        height: 12px;
        background-color: #404040;
    }

    .carousel-indicators li {
        border-radius: 12px;
        width: 12px;
        height: 12px;
        background-color: #404040;
    }

    .carousel-indicators .active {
        background-color: white;
        max-width: 12px;
        margin: 0 3px;
        height: 12px;
    }

    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }

    .btn {
        margin-top: auto;
    }

    .fh {
        height: 100%;
    }
</style>


@{
    foreach (var item in Model)
    {
        var postUrl = Url.Content("~/Post/ViewPost?PostID=" + item.PostID);
        <div class="card">
            <div class="row justify-content-md-center">

                <div class="col-md-7 px-3">
                    <div class="card-block px-6">
                        <h4 class="card-title">@item.Title</h4>
                        <p class="card-text">
                            <span>@item.User.Name</span>
                        </p>
                        <p class="card-text">
                            @item.Content
                        </p>
                        <br>
                        <a onclick="location.href = '@postUrl'" class="mt-auto btn btn-primary">Full Post</a>
                    </div>
                </div>
                <!-- Carousel start -->
                <div class="col-md-5">
                    <div class="splide" role="group" style="height: 100%; width: 100%;">
                        <div class="splide__track fh" style="height: 100%; width: auto;">
                            <ul class="splide__list">
                                @foreach (var media in item.MediaItems)
                                {
                                    var imgUrl = Url.Content("~/Images/MediaContent/" + media.MediaID + media.Type);
                                    <li class="splide__slide" style="height: 100%; width: 100%;">
                                        <img style="height: 100%; width: 100%;" src="@imgUrl" />
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End of carousel -->
            </div>
        </div>
    }
}

<script>
    var elms = document.getElementsByClassName('splide');

    for (var i = 0; i < elms.length; i++) {
        new Splide(elms[i]).mount();
    }
</script>