@model Hello_Travellers.Models.Message


@if (Model.SenderUsername == (string)Session["Username"])
{
    <div>
        <div class="text-muted small text-nowrap mt-2 chat-message-right">@Model.SentTime</div>
        <div class="chat-message-right mb-4">
            <div class="d-flex">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                     class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
            </div>
            <div class="flex-shrink-1 rounded py-2 px-3 mx-3 bg-primary text-white">
                @Model.Content
            </div>
        </div>
    </div>
}
else
{
    <div>
        <div class="text-muted small text-nowrap mt-2">@Model.SentTime</div>
        <div class="chat-message-left mb-4">
            <div class="d-flex">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                     class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
            </div>
            <div class="flex-shrink-1 bg-light rounded py-2 px-3 mx-3">
                @Model.Content
            </div>
        </div>
    </div>

}
