<style>
    .img-preview {
        aspect-ratio: 1/1;
        width: 128px;
    }

    .hide {
        display: none;
    }

    .btn-upload {
        font-size: 5rem;
        border: dashed;
        aspect-ratio: 1/1;
        width: 128px;
        height: 128px;
    }
</style>
<div class="container my-5">
    @using (Html.BeginForm("CreatePost", "Post", FormMethod.Post, new { id = "postForm", enctype = "multipart/form-data" })) 
    {
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="forumSelection">Options</label>
            </div>
            <select name="ForumID" class="custom-select" id="forumSelection">
                @foreach (var subforum in ViewBag.Subforums)
                {
                    <option value=@subforum.ForumID>@subforum.ForumName</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control" type="text" placeholder="Title" name="Title" />
        </div>
        <div class="mb-3">
            <textarea class="form-control" rows="6" name="Content" placeholder="Write here..."></textarea>
        </div>
        <div class="mb-3">
            <input class="form-control hide" type="file" name="postedImages" id="postedImages" accept="image/png, image/jpeg" multiple>
        </div>
        <div class="mb-3">
            <div class="d-flex flex-row">
                <div class="d-flex flex-row" id="img-container">

                </div>
                <div class="img-button" id="img-container">
                    <input type="button" class="btn-upload rounded" id="img-upload" value="+" onclick="$('#postedImages').click();" />
                </div>
            </div>
        </div>

    }
    <input type="button" id="btnSubmit" class="btn-primary form-control" value="Submit" onclick="$('#postForm').submit();" />
</div>

<script type="text/javascript">
    var imageContainer = document.getElementById("img-container");
    var imageContainerTemp = document.createElement("div");
    var imageInput = document.getElementById("postedImages");
    imageInput.onchange = event => {
        imageContainerTemp.innerHTML = ""
        for (var i = 0; i < imageInput.files.length; ++i) {
            var image = document.createElement("img");
            image.src = URL.createObjectURL(imageInput.files[i]);
            image.classList.add("rounded");
            image.classList.add("px-2");
            image.classList.add("img-preview");
            imageContainerTemp.appendChild(image);
        }
        imageContainer.innerHTML = imageContainerTemp.innerHTML;
    }
</script>