<style>
    .post-img {
        width: 100%;
        height: auto;
    }

    .post-pos-fixed {
        position: fixed;
    }

    .post-text-justify {
        text-align: justify;
        text-justify: inter-word;
    }

    .post-img-profile {
        aspect-ratio: 1/1;
        width: 100%;
    }
</style>
<div class="container-fluid p-5">
    <div class="row">
        <div class="col-md-9 col-sm-12 overflow-auto">
            <img class="post-img rounded" src="~/Images/img1.jpg" />
            <p class="text-center fs-1 fw-bold font-monospace">Lorem ipsum dolor</p>
            <p class="text-start font-monospace">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare laoreet euismod. Aliquam vulputate mattis neque, vel vehicula metus. Donec nec augue aliquet, cursus purus scelerisque, finibus purus. In sed hendrerit neque. Nam quis eros scelerisque urna eleifend pellentesque. Duis interdum semper metus sodales consectetur. Integer sit amet convallis libero. Vestibulum at euismod massa, ac auctor eros.
                
                Nullam rhoncus dapibus urna eget luctus. Nam sagittis purus lectus, quis condimentum dolor rhoncus sit amet. Nulla ex est, viverra et euismod eget, dignissim sed erat. Aliquam dictum purus at placerat pulvinar. Donec vel quam vulputate, aliquet urna nec, convallis erat. Ut sit amet vestibulum ipsum. Sed diam orci, efficitur nec metus sit amet, mattis ornare purus.

                Maecenas lorem enim, luctus ac turpis at, mattis maximus nibh. Nunc imperdiet lorem eget turpis imperdiet blandit. Etiam tristique, velit finibus fringilla maximus, arcu lorem dapibus lacus, nec vulputate eros ligula blandit odio. Mauris dapibus velit velit, sit amet malesuada elit euismod sit amet. Cras tempus risus non massa iaculis, et lobortis erat ultrices. Donec eget egestas elit. Vestibulum vel laoreet lectus.

                Ut dapibus diam sit amet auctor laoreet. Praesent ultrices pulvinar porttitor. Fusce placerat dui odio, ut fermentum ante accumsan eu. Mauris convallis eu leo vitae pharetra. Cras id blandit tortor. Curabitur tortor neque, placerat quis nunc imperdiet, suscipit pellentesque neque. Phasellus a leo eget mi condimentum scelerisque. Mauris et interdum sapien. Quisque non magna ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla interdum metus nec nisi aliquam ullamcorper. Fusce eleifend ipsum vitae molestie pellentesque. Quisque nulla lacus, cursus vel placerat vel, tempus eget neque. Fusce pellentesque in ipsum pharetra imperdiet.

                Quisque ornare lorem et imperdiet faucibus. Donec in tellus erat. Mauris hendrerit laoreet ante sit amet semper. Nulla bibendum, nibh at scelerisque porttitor, nibh justo lacinia lacus, lobortis tincidunt arcu elit id tellus. Nunc bibendum diam id gravida imperdiet. Suspendisse aliquet auctor tellus eget congue. Vestibulum porttitor, libero eget luctus ultrices, ligula enim congue augue, in mollis nulla justo non mauris. Sed commodo magna a ornare luctus. Nunc ipsum sapien, sollicitudin sit amet ante vel, vulputate dignissim mauris. Aenean eu ante quis turpis lacinia hendrerit non et nisl. Quisque luctus nunc turpis, quis consectetur lacus tincidunt sit amet. Suspendisse efficitur auctor posuere. Fusce id ornare mi. Morbi tellus tellus, tristique vitae sollicitudin congue, lobortis non lectus.

            </p>
        </div>
        <div class="col-md-3 col-sm-12 overflow-auto">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2 p-0 m-0">
                        <img class="rounded-circle post-img-profile" src="~/Images/img1.jpg" />
                    </div>
                    <div class="col-10">
                        <span class="fw-bold">Kazi Toufique Elahi</span>
                        <div class="fw-normal">Lorem Ipsum Epic Bruh</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>