<style>
    body {
        width: 100%;
        height: 100%;
        background-color: #f5f5dc;
    }
</style>



<div class="SendEmail">


    @using (Html.BeginForm("ForgotPassword", "UserAuth"))
    {
        <h1 class="text-center py-3">Enter Email Address</h1>

        <div class="signup-input-group">
            <input type="text" placeholder="Email" name="email">
        </div>


        <div class="check-email-btn">
            <button name="submit" value="submit" class="ok-email-btn">Next</button>
        </div>
    }

</div>



