<style>
    body {
        width: 100%;
        height: 100%;
        background-color: #f5f5dc;
    }

    .hq-input {
        outline: none;
        border-radius: 30px;
        border: 2px solid #e7e7e7;
        width: 100%;
        height: 50px;
    }

        .hq-input:focus {
            outline: none;
            border-color: #3498db;
        }

    .input-group-text {
        border-radius: 30px;
    }
</style>
<div class="signin-container">

    <form action="Login" method="post" class="signin-email">

        <h1 class="signin-text text-center  py-3">Sign In</h1>

        <div class="signup-input-group">
            <input type="email" placeholder="Email" name="Email" required>

        </div>

        <div class="input-group">
            <input type="password" placeholder="Password" name="Password" id="myInput3" required class="form-control hq-input">
            <i class="input-group-text bi bi-eye-slash" id="togglePassword1" onclick="showPass1(); showPassword(this.id, 'inputNewPassword')"></i>
        </div>

        <div class="signup-input-group">
            <button name="submit" class="SigninBtn">Login</button>
        </div>

        <!--<p class="signin-page-text text-center">Forgot Password! <a href="">Click here</a></p>-->

        <p class="signin-page-text text-center">Don't have an account? <a href="/UserAuth/SignUp">Sign Up Here</a></p>

    </form>


</div>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        redirectIfLoggedIn('@Session["Username"]');
    });

    function showPass1() {
        var x = document.getElementById("myInput3");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
    //--password toggle--//
    function showPassword(iconID, inputFieldID) {
        if (document.getElementById(iconID).className === "input-group-text bi bi-eye-slash") {
            document.getElementById(iconID).className = "input-group-text bi bi-eye";
            document.getElementById(inputFieldID).type = "text";
        }
        else {
            document.getElementById(iconID).className = "input-group-text bi bi-eye-slash";
            document.getElementById(inputFieldID).type = "password";
        }
    }

</script>