<style>
    body {
        width: 100%;
        height: 100%;
        background-color: #f5f5dc;
    }
</style>



<div class="signup-container">


    @using (Html.BeginForm("SendEmail", "UserAuth"))
    {
        <h4 class="py-3 text-center">An activaton code has been sent to your mail address</h4>

        <div class="signup-input-group">
            <input type="text" placeholder="Activation Code" name="code" required>
        </div>


        <div class="signup-input-group">
            <button name="submit" value="submit" class="SignupBtn">Next</button>
        </div>
        <p class="signup-register-text text-center">Have an account? <a href="/UserProfile/messages">Login Here</a></p>
    }

</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        redirectIfLoggedIn('@Session["Username"]');
    });
</script>