
.admin-sidebar {
    box-shadow: 10px 0px 9px -3px rgba(232,238,255,1);
    background-color: #010B08;
}


    .admin-sidebar .admin-sidebar-content {
        list-style: none;
    }

.admin-sidebar-item {
}

.spanTitle {
    font-size: 30px;
}

.admin-sidebar .admin-sidebar-item .admin-sidebar-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #F6F5F5;
}

    .admin-sidebar .admin-sidebar-item .admin-sidebar-link:hover {
        color: #21BCA8;
    }


.top-bar {
    height: 40px;
    box-shadow: 0px 10px 7px -1px rgba(217,217,217,1);
    
}

.img-profile {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
