.index-carousal-img {
    object-fit: cover;
    width: max(100%, 100vw);
    height: 100vh;
}

.index-carousal-fitter {
    width: 100vw;
    height: 95vh;
}

.index-carousal-content {
    position: absolute;
    bottom: 10vh;
    left: 5vw;
    z-index: 20;
    color: white;
    text-shadow: 1px 1px 2px rgb(95, 94, 94);
}

.index-post-header {
    text-align: left;
    font-style: normal;
    font-weight: 800;
}

.index-post-writer {
    text-align: right;
    font-style: normal;
    font-weight: 500;
}