.signup-container {
    width: 400px;
    height: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    margin: 100px auto 100px auto;
    padding: 20px;
}

.signup-input-group input {
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    border-radius: 30px;
    outline: none;
    border: 2px solid #e7e7e7;
}

.signup-input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    margin-top: 30px;
}

    .signup-input-group input:focus {
        border-color: #3498db;
    }

    .signup-input-group .SignupBtn {
        width: 100%;
        height: 30px;
        text-align: center;
        background: #3498db;
        border-radius: 30px;
        font-size: 1.2rem;
        color: white;
    }

        .signup-input-group .SignupBtn:hover {
            transform: translateY(-5px);
            background: #6c5ce7;
        }



.signin-container {
    width: 400px;
    height:auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    margin: 100px auto 100px auto;
    padding: 20px;
}

.signup-input-group .SigninBtn {
    width: 100%;
    height: 30px;
    text-align: center;
    background: #3498db;
    border-radius: 30px;
    font-size: 1.2rem;
    color: white;
}

    .signup-input-group .SigninBtn:hover {
        transform: translateY(-5px);
        background: #6c5ce7;
    }