<!DOCTYPE html>

<head>

</head>

<body>



    <div class="signup_container">

        <form action="" method="post" class="signin-email">

            <h1 class="signin-text text-center  py-3">Sign In</h1>

            <div class="input-group">
                <input type="email" placeholder="Email" name="email" required>
            </div>

            <div class="input-group">
                <input type="password" placeholder="Password" name="password" required>
            </div>

            <div class="input-group">
                <button name="submit" class="SignupBtn">Login</button>
            </div>

            <p class="signin-page-text text-center">Forgot Password! <a href="Register.php">Click here</a></p>

            <p class="signin-page-text text-center">Don't have an account? <a href="Register.php">Sign Up Here</a></p>

        </form>



    </div>

</body>