

<div class="container-fluid my-5">
    <div class="btn-toolbar my-5" role="toolbar">
        <div class="btn-group mx-2" role="group" aria-label="Sorting Group">
            <button type="button" class="btn btn-secondary">New</button>
            <button type="button" class="btn btn-secondary">Most Upvoted</button>
            <button type="button" class="btn btn-secondary">Most Commented</button>
        </div>
       
            <form>
                @using (Html.BeginForm("Forum", "Post", FormMethod.Post))
                {
                    <div class="btn-group mx-2" role="group" aria-label="Forum Group">
                        <button type="button" class="btn btn-secondary" name="submit" value="Experiences" onclick="@("window.location.href='"+Url.Content("~/Post/Forum?forumID=1")+"'"); ">Experiences</button>
                        <button type="button" class="btn btn-secondary" name="submit" value="Travel Plans" onclick="@("window.location.href='"+Url.Content("~/Post/Forum?forumID=2")+"'");">Travel Plans</button>
                        <button type="button" class="btn btn-secondary" name="submit" value="Short Stories" onclick="@("window.location.href='"+Url.Content("~/Post/Forum?forumID=3")+"'");">Short Stories</button>
                    </div>
                }
                </form>
        
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="card mx-2">
                    <img class="card-img-top" src="~/Images/img1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card mx-2">
                    <img class="card-img-top" src="~/Images/img1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card mx-2">
                    <img class="card-img-top" src="~/Images/img1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>