
@{
    ViewBag.Title = "Index";
}

<div class="container-lg container-md">
    <div class="row">
        <div class="col-lg-3 col-md-4" id="profile-info">
            <div class="card rounded shadow">
                <img src="https://themoney.co/wp-content/uploads/2022/01/How-many-cars-does-Chris-Evans-have-scaled.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">User Name</h5>
                    <p class="card-text text-wrap">Basically about me.Some quick example text to build on the card title and make up the bulk of the card's content</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="bi bi-person-circle" style="margin-right:5px; color:#a79bfd"></i>Chris Evans</li>
                        <li class="list-group-item"><i class="bi bi-envelope-fill" style="margin-right:5px; color:#a79bfd"></i><a href="mailto:tasnuvabinterahmansrishti@gmail.com" style="outline : none;">srishti@gmail.com</a></li>
                        <li class="list-group-item"><i class="bi bi-telephone-fill" style="margin-right:5px; color:#a79bfd"></i>Phone Number</li>
                        <li class="list-group-item"><i class="bi bi-info-circle" style="margin-right:5px; color:#a79bfd"></i>Gender</li>
                    </ul>
                    <a href="#" class="btn d-block text-center" style="background-color: #d13e59;color:white;">Edit Profile</a>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8" id="profile-content">
            <div class="container border-1 shadow-sm" id="profile-content-info">
                <div class="row p-2">
                    <div class="col text-center border-dark">
                        <div class="card text-dark bg-light shadow-sm border-0 profile-content-count" style="max-width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Posts</h5>
                                <p class="card-text">2</p>
                            </div>
                        </div>
                    </div>

                    <div class="col text-center">
                        <div class="card text-dark bg-light shadow-sm border-0" style="max-width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Search</h5>
                                <p class="card-text">2</p>
                            </div>
                        </div>
                    </div>


                    <div class="col text-center">
                        <div class="card text-dark bg-light shadow-sm border-0" style="max-width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Stories</h5>
                                <p class="card-text">2</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


